services:
  api:
    environment:
      # Adds opentelemetry endpoint.
      BACKEND_OPENTELEMETRY_ENDPOINT: "http://otel-collector:4317"

  otel-stack:
    image: grafana/otel-lgtm
    hostname: "otel-collector"
    ports:
      # Collector's GRPC endpoint
      - "4317:4317"
      # Collector's HTTP endpoint
      - "4318:4318"
      # Grafana UI
      - "3000:3000"
